.main-country-block{
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    display: flex;
}
.country-name{
    border: 3px solid #cccc;
    width: 40%;
    padding: 10px;
    height: 333px;
    overflow: auto;
    border-radius: 5px;
}
.country-info{
    border: 3px solid #d76a6a;
    border-radius: 5px;
    width: 60%;
    margin-left: 10px;
    padding: 10px;
    position: relative;
}